## MERGING JOCAS (JOB SUPPLY) DATA

The JOCAS data available to us from Progedo (2020) is composed as follow:

```plaintext
JOCAS/
│── Website_1/
│   ├── January/
│   │   ├── 01.xlsx
│   │   ├── 02.xlsx
│   │   ├── ...
│   │   ├── 31.xlsx
│   ├── ...
│   ├── December/
│   │   ├── 01.xlsx
│   │   ├── 02.xlsx
│   │   ├── ...
│   │   ├── 31.xlsx
│
│── Website_2/
│   ├── January/
│   │   ├── 01.xlsx
│   │   ├── 02.xlsx
│   │   ├── ...
│   │   ├── 31.xlsx
│   ├── ...
│
│── ...
```
The objective of this notebook is to extract the data of interest from all this JOCAS database (data for communes>5000 habitants) into one excel file

In [1]:
# IMPORT LIBRARIES
import matplotlib.pyplot as plt
import pandas as pd
import os
import re # For regular expression
import geopandas as gpd # To read geospatial data
from pathlib import Path # To set relative paths
import unidecode # To standardize strings
import py7zr # To unzip files
import datetime

In [4]:
# GETTING PROJECT'S ROOT DIRECTORY
base_folder = Path().resolve()  # CURRENT WORKING DIRECTORY
main_folder = base_folder.parent

# JOCAS DIRECTORY 
jocas_dir = "/Users/alfonso/Desktop/JOCAS"

# IMPORTING FILES
commune_names_path = main_folder / "data" / "2- Formatted Data" / "name_communes_5000.csv"
commune_names = pd.read_csv(commune_names_path).squeeze().tolist()  
rome_fap_path = main_folder / "data" / "linking tables" / "Rome_to_Fap_processed.csv"
rome_fap = pd.read_csv(rome_fap_path)

In [17]:
os.listdir(jocas_dir)

['regionsjob_nord',
 'regionsjob_paris',
 'regionsjob_rhonealpes',
 '.DS_Store',
 'apec',
 'keljob',
 'regionsjob_sudouest',
 'regionsjob_paca',
 'viadeo',
 'regionsjob_ouest',
 'jobintree',
 'regionsjob_centre',
 'cadreo',
 'leboncoin',
 'cadremploi',
 'regionsjob_est',
 'meteojob',
 'bdm',
 'api_poleemploi']

In [ ]:
# Create a list to store the results
missing_values_report = []

# Walk through each data source folder (e.g., apec, regionsjob_nord)
for source_folder in os.listdir(jocas_dir):
    source_path = os.path.join(root_folder, source_folder)
    if os.path.isdir(source_path):  # Check if it is a folder
        # Loop through each monthly subfolder within the data source folder
        for month_folder in os.listdir(source_path):
            month_path = os.path.join(source_path, month_folder)
            
            if os.path.isdir(month_path):  # Check if it is a folder
                
                for file_name in os.listdir(month_path):
                    
                    if file_name.endswith('.csv'):  # Process only CSV files
                        file_path = os.path.join(month_path, file_name)
                        # Read CSV 
                        df = pd.read_csv(file_path, sep=";")

                        # RENAME COLUMNS OF INTEREST
                        df.rename(columns={"location_label": "commune", "job_ROME_code": "rome_code"}, inplace=True)

                        # COMMUNE NAME STANDARDIZATION FUNCTION
                        def standardize_commune(name):
                            if pd.isna(name):
                                return None
                            name = unidecode.unidecode(name.lower().strip())  # Remove accents & lowercase
                            name = re.sub(r"[-'’]", " ", name)  # Remove hyphens & apostrophes
                            name = re.sub(r"\bst[ .]", "saint ", name)  # Standardize "St." -> "Saint"
                            return name

                        # APPLY STANDARDIZATION
                        df["commune"] = df["commune"].apply(standardize_commune)

                        # FILTER FOR COMMUNES WITH MORE THAN 5000 HABITANTS
                        df = df[df["commune"].isin(commune_names)]

                        # DROP OBSERVATIONS WITHOUT ROME_CODE
                        df.dropna(subset=["rome_code"], inplace=True)

                        # MERGE ROME CODE WITH LINKING TABLE (TO FAP)
                        df = df.merge(rome_fap, left_on="rome_code", right_on="rome", how="left")

                        # GROUP BY COMMUNE AND CODE ROME AND COUNT JOB OFFERS
                        df = df.groupby(["commune", "fap87"]).size().reset_index(name="job_offers_fap87")

                        # CREATE MONTH COLUMN
                        date_obj = datetime.datetime.strptime(month_folder, "%Y-%m")
                        month_name = date_obj.strftime("%B")
                        df["month"] = month_name

In [31]:
# READ DATASET
df = pd.read_csv("/Users/alfonso/Desktop/20200101_offers.csv", sep=";")

# RENAME COLUMNS OF INTEREST
df.rename(columns={"location_label": "commune", "job_ROME_code": "rome_code"}, inplace=True)

# COMMUNE NAME STANDARDIZATION FUNCTION
def standardize_commune(name):
    if pd.isna(name):
        return None
    name = unidecode.unidecode(name.lower().strip())  # Remove accents & lowercase
    name = re.sub(r"[-'’]", " ", name)  # Remove hyphens & apostrophes
    name = re.sub(r"\bst[ .]", "saint ", name)  # Standardize "St." -> "Saint"
    return name

# APPLY STANDARDIZATION
df["commune"] = df["commune"].apply(standardize_commune)

# FILTER FOR COMMUNES WITH MORE THAN 5000 HABITANTS
df = df[df["commune"].isin(commune_names)]

# DROP OBSERVATIONS WITHOUT ROME_CODE
df.dropna(subset=["rome_code"], inplace=True)

# MERGE ROME CODE WITH LINKING TABLE (TO FAP)
df = df.merge(rome_fap, left_on="rome_code", right_on="rome", how="left")

# GROUP BY COMMUNE AND CODE ROME AND COUNT JOB OFFERS
df = df.groupby(["commune", "fap87"]).size().reset_index(name="job_offers_fap87")

# CREATE MONTH COLUMN
date_obj = datetime.datetime.strptime(month_folder, "%Y-%m")
month_name = date_obj.strftime("%B")
df["month"] = month_name

In [32]:
df

                 commune fap87  job_offers_fap87    month
0        aix en provence   M0Z                 6  January
1        aix en provence   M1Z                 6  January
2        aix en provence   M2Z                 6  January
3                 amiens   R4Z                 2  January
4                 annecy   U1Z                 1  January
..                   ...   ...               ...      ...
150  velizy villacoublay   M2Z                 1  January
151    villeneuve d ascq   M2Z                 1  January
152    villeneuve d ascq   R2Z                 1  January
153            vitrolles   L2Z                 1  January
154            vitrolles   L4Z                 1  January

[155 rows x 4 columns]